.post_manager {
    display: flex;
    width: 100%;
}

.post_left {
    width: 75%;
}

.post_right {
    width: 25%;
}

.upload_css {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
    border: .5px #ccc solid;
    border-radius: 5px;
}

.upload_css img {
    object-fit: cover !important;
}

.ant-popconfirm-buttons {
    display: flex;
}


.ant-popconfirm-buttons .ant-btn-primary {
    color: #fff;
}


.hover-card {
    transition: .3s;
}

.hover-card:hover {
    color: #fff;
    background-color: #4da9ff !important;
}